.appHeader {
  display: flex;
  height: 50px;
  background-color: beige;
}

.appMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 530px;
  background-color: antiquewhite;
}

.formBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 500px;
  gap: 10px;
  background-color: grey;
}

.appFooter {
  display: flex;
  height: 50px;
  background-color: beige;
}
